*{
    margin: 0px;
    font-family: Arial;
}
/* head section */
.head{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 5px rgb(128, 128, 128);
}
.headingLogo{
    height: 100px;
    margin: 10px 0px 10px 40px;
}
.headingCenter{
    display: flex;
}
.headingCenterItem{
    color: black;
    text-decoration: none;
    font-size: 17px;
    margin: 0px 20px;
    font-family: Arial;
    font-weight: 600;
}
.headingRight{
    margin-right: 40px;
    color: rgb(31, 31, 31);
    font-size: 17px;
    font-family: Arial;
    font-weight: 600;
}

/* body */
.title h1{
    text-align: center;
    padding-top:  50px; 
    font-size: 42px;
}
.services{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px;
    text-align: center;
}
.card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.card:hover{
    background-color: rgb(201, 199, 252);
    transition: 0.4s;
}
.card.icon{
    font-size: 35px;
    margin-bottom: 10px;
}

.card h2{
    font-size: 28px;
    margin-bottom: 20px;
}
.card p{
    font-size: 17px;
    margin-bottom: 30px;
    line-height: 1.5;
    color: #5e5e5e;
}
.button{
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    background-color: rgb(90,86,214);
    padding: 8px 12px;
    border-radius: 5px;
    letter-spacing: 1px;
}
.button:hover{
    background-color: rgb(246, 57, 139);
    transition: 0.4s ease;
}
@media screen and (max-width: 940px){
    .services{
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 85%;
        display: flex;
        margin: 20px 0px;
    }
}

/* footer */
.footer{
    position: fixed;
    bottom: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial;
    box-shadow: 1px 1px 5px rgb(128, 128, 128);
    background-color: white;
}