body{
    font-family: Arial;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    background-color: rgb(90,86,214);
    padding: 20px;
    border-radius: 20px;
    max-width: 700px;
    width: 100%;
}
label{
    font-weight: bold;
    color: rgb(240, 240, 240);
}
.brand, .model, .seat, .bags, .image, .extra{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}
.brand input, .model input, .seat input, .bags input, .image input, .extra input{
    height: 30px;
    width: 60%;
    border-radius: 5px;
    border: none;
}
button{
    border: none;
    border-radius: 10px;
    padding: 15px 50px;
    background-color: rgb(246, 57, 139);
    color: white;
    margin-top: 50px;
    font-weight: bold;
}
button:hover{
    cursor: pointer;
}