body{
    margin: 0px;
}
/* head section */
.head{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 5px rgb(128, 128, 128);
}
.headingLogo{
    height: 100px;
    margin: 10px 0px 10px 40px;
}
.headingCenter{
    display: flex;
}
.headingCenterItem{
    color: black;
    text-decoration: none;
    font-size: 17px;
    margin: 0px 20px;
    font-family: Arial;
    font-weight: 600;
}
.headingRight{
    margin-right: 40px;
    color: rgb(31, 31, 31);
    font-size: 17px;
    font-family: Arial;
    font-weight: 600;
}

/* main body */

.container{
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 10px 50px;
}
.element{
    background-color: aliceblue;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.elementLeft{
    display: flex;
    flex-direction: column;
    font-family: Arial;
    font-weight: bold;
    color: rgb(90,86,214);
}
.elementImage{
    display: flex;
    align-items: center;
    justify-content: center;
}
.elementImage img{
    width: 200px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}
.elementRight{
    display: flex;
    align-items: center;
}
.elementEdit{
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    color: white;
    background-color: rgb(90,86,214);
}
.elementDelete{
    margin: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    color: white;
    background-color: rgb(246, 57, 139);
}
.element button:hover{
    cursor: pointer;
}

/* Dark mode styles */
.dark-mode {
    background-color: #000000;
    color: #f5f5f5;
}

/* footer */
.footer{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial;
    box-shadow: 1px 1px 5px rgb(128, 128, 128);
}