/* head section */
.head{
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 5px rgb(128, 128, 128);
}
.headingLogo{
  height: 100px;
  margin: 10px 0px 10px 40px;
}
.headingCenter{
  display: flex;
}
.headingCenterItem{
  color: black;
  text-decoration: none;
  font-size: 17px;
  margin: 0px 20px;
  font-family: Arial;
  font-weight: 600;
}
.headingRight{
  margin-right: 40px;
  color: rgb(31, 31, 31);
  font-size: 17px;
  font-family: Arial;
  font-weight: 600;
}

/* body section */
body {
  margin: 0px;
  background-color: #f0f0f0; 
  font-family: Arial;
}

.container {
  padding: 20px;
  margin: 50px auto; 
  max-width: 400px; 
}


input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: #6c63c8; 
  color: white;
  padding: 12px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px; 
}

button:hover {
  background-color: #f6398b;
}

.container > h2 {
  text-align: center;
  margin-bottom: 16px; 
}

.container > p {
  text-align: center;
  margin-bottom: 24px; 
}

.container > span.psw {
  display: block; 
  text-align: right; 
  margin-top: 16px; 
}

@media screen and (max-width: 400px) {
  span.psw {
      text-align: center; 
  }
}

/* footer */
.footer{
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial;
  box-shadow: 1px 1px 5px rgb(128, 128, 128);
}