body{
    margin: 0px;
    font-family: Arial;
}
/* head section */
.head{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 5px rgb(128, 128, 128);
}
.headingLogo{
    height: 100px;
    margin: 10px 0px 10px 40px;
}
.headingCenter{
    display: flex;
}
.headingCenterItem{
    color: black;
    text-decoration: none;
    font-size: 17px;
    margin: 0px 20px;
    font-weight: 600;
}
.headingRight{
    margin-right: 40px;
    color: rgb(31, 31, 31);
    font-size: 17px;
    font-weight: 600;
}

/* body */
    /* left side */
.body{
    display: flex;
}
.bodyLeft{
    flex: 6;
    padding: 0px 60px 50px 60px;
    background-color: rgb(90,86,214);
}
.bodyRight{
    flex: 6;
}
.bodyLeftTitle{
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 27px;
    margin: 30px 0px;
}
.contactForm{
    /* padding-left: 50px; */
}
.contactFormLabel{
    color: white;
}
.contactFormInput{
    margin: 5px 0px 20px 0px;
    border: none;
    border-radius: 10px;
    padding: 10px 5px;
    width: 100%;
}
.contactFormSubmitButton{
    background-color: rgb(246, 57, 139);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

    /* right side */
.bodyRight{
    padding: 30px 60px 50px 60px;
}
.bodyRightTitle{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}
.bodyRightPara{
    margin-bottom: 20px;
}
.item{
    display: flex;
    align-items: center;
    padding: 20px;
}
.icon{
    height: 30px;
    margin-right: 20px;
}
.title{
    font-weight: bold;
    margin-right: 10px;
}

/* footer */
.footer{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial;
    box-shadow: 1px 1px 5px rgb(128, 128, 128);
}