body {
    background-color: white;
    font-family: Arial;
}

.container {
    padding: 20px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: rgb(90,86,214);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: rgb(246, 57, 139);
}

.container > h2 {
    text-align: center;
    margin-bottom: 24px;
}

.container > p {
    text-align: center;
}

.container > span.psw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}