/* head section */
.head{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 5px rgb(128, 128, 128);
}
.headingLogo{
    height: 100px;
    margin: 10px 0px 10px 40px;
}
.headingCenter{
    display: flex;
}
.headingCenterItem{
    color: black;
    text-decoration: none;
    font-size: 17px;
    margin: 0px 20px;
    font-family: Arial;
    font-weight: 600;
}
.headingRight{
    margin-right: 40px;
    color: rgb(31, 31, 31);
    font-size: 17px;
    font-family: Arial;
    font-weight: 600;
}

/* main body */
.mainBody{
    display: flex;
    font-family: Arial;
}
.mainBodyLeft{
    flex: 4;
    display: flex;
    flex-direction: column;
    padding: 10px 0px 0px 50px;
    background-color: rgb(90,86,214);
}
.mainBodyRight{
    flex: 8;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px 0px 0px 50px;
}

    /* body left side */
.vehicleType{
    margin: 50px 0px;
    color: white;
}
.vehicleTypeItemsContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.vehicleTypeItemsContainer{
    margin: 20px;
}
.vehicleTypeItem{
    margin: 7px 0px;
}
.vehiclePrice{
    margin-bottom: 50px;
    color: white;
}
.vehiclePriceContainer{
    margin: 20px;
}
.vehiclePriceItem{
    border-radius: 10px;
    height: 30px;
    border-color: rgb(161, 161, 161);
    margin-bottom: 10px;
}
.passengersContainer{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: white;
}
.passengersInput{
    width: 60px;
    height: 30px;
    border-radius: 10px;
    margin-left: 20px;
}
.seatsContainer{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: white;
}
.seatsInput{
    width: 60px;
    height: 30px;
    border-radius: 10px;
    margin-left: 20px;
}
.bagsContainer{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    color: white;
}
.bagsInput{
    width: 60px;
    height: 30px;
    border-radius: 10px;
    margin-left: 20px;
}
.airConditionContainer{
    display: flex;
    color: white;
    margin-bottom: 50px;
}
.airButton{
    margin-right: 20px;
}
.filterButton{
    color: white;
    background-color: rgb(246, 57, 139);
    border: none;
    margin-right: 50px;
    border-radius: 10px;
    height: 30px;
}
.filterButton:hover{
    cursor: pointer;
    background-color: rgb(253, 81, 155);
}

    /* body right side */
.itemContainer{
    height: 700px;
    width: 350px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 1px rgb(221, 218, 218);
}
.itemCategory{
    text-align: center;
    background-color: rgb(90,86,214);
    color: white;
    padding: 20px 0px;
    border-radius: 20px 20px 0px 0px;
}
.itemImage{
    height: 40%;
    width: 100%;
    object-fit: cover;
}
.itemName{
    text-align: center;
    margin: 5px 0px;
    font-weight: 600;
}
.itemPriceContainer{
    color: gray;
    text-align: center;
    margin: 10px;
}
.itemDetailsItem{
    display: flex;
    align-items: center;
}
.itemDetailsItemIcon{
    height: 30px;
    margin: 0px 10px;
}
.itemDetailsItemText{
    margin: 10px 5px;
}
.itemButtonContainer{
    display: flex;
    justify-content: center;
}
.itemButton{
    border: none;
    margin: 10px;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    color: white;
    background-color: rgb(246, 57, 139);
}
.itemButton:hover{
    cursor: pointer;
    background-color: rgb(253, 81, 155);
}

/* footer */
.footer{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial;
    box-shadow: 1px 1px 5px rgb(128, 128, 128);
}