body{
    margin: 0px;
}
/* head section */
.head{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 1px 5px rgb(128, 128, 128);
}
.headingLogo{
    height: 50px;
    margin: 10px 0px 10px 40px;
}
.headingCenter{
    display: flex;
}
.headingCenterItem{
    color: black;
    text-decoration: none;
    font-size: 17px;
    margin: 0px 20px;
    font-family: Arial;
    font-weight: 600;
}
.headingRight{
    margin-right: 40px;
    color: rgb(31, 31, 31);
    font-size: 17px;
    font-family: Arial;
    font-weight: 600;
}

/* body section */
.body{
    margin: 0px 20px;
}
.optionMenuContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.optionMenu{
    background-color: rgb(176, 176, 176);
    padding: 20px;
    border-radius: 20px;
}
.optionMenuLeft{
    margin-right: 20px;
}
.optionMenuRight{
    margin-left: 20px;
}
.optionMenuInput{
    border-radius: 15px;
    border-style: none;
    margin: 10px 0px 20px 0px;
    height: 30px;
    width: 100%;
}
.optionMenuText{
    font-family: Arial;
    font-size: 15px;
}
.optionMenuBottom{
    display: flex;
}